@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="hero-section">
        <h1>Discover & Host Unforgettable Events</h1>
        <p>Your one-stop platform to find exciting events near you or to create and manage your own. Join our community today!</p>
        <div class="btn-group">
            <a asp-controller="Event" asp-action="Index" class="btn btn-primary">Browse Events</a>
            @{
                var userRole = Context.Session.GetString("Role");
                if (userRole == "Admin" || userRole == "Student")
                {
                    if (userRole == "Admin")
                    {
                        <a asp-controller="Event" asp-action="Create" class="btn btn-secondary">Create an Event</a>
                    }
                    else
                    {
                        <a asp-controller="Event" asp-action="Create" class="btn btn-secondary">Request an Event</a>
                    }
                }
            }
        </div>
    </div>
</div>